<h1 class="page-title">Edit Sticky Note</h1>

<div class="form-container">
    <%= form_for @note do |f| %>
        <%= f.text_area :body, class: "new-sticky-form",:maxlength => 95%>
        <div class="button-container">
        <%= f.submit class: "submit"%>
        </div>
    <% end %>
</div>